<div class="center">
	
<%= form_tag password_resets_path, :method => :post do %>
	<div class="form-horizontal">
  
    <%= text_field_tag :email, params[:email], :placeholder => "Email Address" %> 
  	<%= submit_tag "Reset Password", :class => 'btn btn-info', :style => 'width: 15%;'%>
  	
  	</div>
  	
<% end %>
	
</div>
