<div class="about_us_page">
	<h4>How it Works</h4>
	<div class="center">
		<%= image_tag("3 steps.png",:class => "how-it-works" ) %>
		<p> We send you spares and tools to any where in India. However, Door to Door Workmen Services available only in 
			<%= I18n.t(:service_available_at) %>. </p>
	</div>
	
	<h4>Brains at Work</h4>
	<div class="span8 center">
		<div class="span2 offset4">
			<table class="table-hover span3">
				<tbody>
					<tr><td><%= image_tag("blank-face.jpg") %></td></tr>
					<tr><td>Ravi Kishor Rambarki - Managing Director</td></tr>
					<tr><td>IIM, Ahmedabad</td></tr>
					<tr><td>Andhra University</td></tr>
					<tr><td>And Others...</td></tr>
				</tbody>
			</table>
			</div>
		<div class="span12">	
		<p> We are are a group of individuals, trying to simplify the tasks involved in Home Improvement. 
			We also want the customers to explore, compare and purchase their Home Decoration, Improvement and accesrories sitting
			inside their home and buying online.</p>
		<p> Our main objective is to enhance the comfort and improve the quality of experience in Home Improvement category which is largely
			diversified and unadressed professionally in India </p>
			</div>
	</div>
	
</div>
