<div class="about_us_page">
	<h4>How it Works</h4>
	<div class="center">
		<%= image_tag("3 steps.png",:class => "how-it-works" ) %>
	</div>
	
	<h4>Brains at Work</h4>
	<div class="span5">
		<div class="span2"></div>
		<div class="each-member center">
			<table class="table-hover span3">
				<tbody>
					<tr><td><%= image_tag("blank-face.jpg") %></td></tr>
					<tr><td>Mahesh Ghanta</td></tr>
					<tr><td>IIM, Ahmedabad</td></tr>
					<tr><td>IIIT, Hydrabad</td></tr>
				</tbody>
			</table>
		</div>		
	</div>
	
	<div class="span5">
		<div class="span2"></div>
		<div class="each-member center">
			<table class="table-hover span3">
				<tbody>
					<tr><td><%= image_tag("blank-face.jpg") %></td></tr>
					<tr><td>Ravi Kishor Rambarki</td></tr>
					<tr><td>IIM, Ahmedabad</td></tr>
					<tr><td>Andhra University</td></tr>
				</tbody>
			</table>
		</div>		
	</div>
	
</div>
