<div class="areas_covered_page">
<p>We <b>provide tools</b> needed for your problem and We <b>send our workmen to your doorstep</b> to do your task. 
	We send you spares and tools to any where in India. However, Door to Door Workmen Services available only in 
	<%= I18n.t(:service_available_at) %>. </p>
<br>
<p>List of Areas Served under <b>Door to Door Workmen Services:</b></p>
<br>
<h5>Hyderabad:</h5>

</div>
