<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCk4l6f4se9fmoSOdiduJCHD0C_Pm8tpEM&sensor=true">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(17.385044,78.486671),
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <div class="span11">
    
 	 <div class="span1"></div>
    `<div class="span4">
    	<h4>Registred Office:</h4>
    	<p>G1, Brundavanam Nizampet Road Hyderabad, <br>Andhra Pradesh 500090 India
    		
    	</p>
    	<br>
    	<h4>Operations:</h4>
    	<p>2nd Floor, Above Mobile Store, Near Image Hospitals, <br> Sai Siddardha Enclave, Madhapur, <br>Andhra Pradesh 500090 India
    		<br>Ph: 08 12 123 0000
    	</p>
    	
   	 </div>
   	  <div class="span1"></div>
       <div id="map-canvas" style="height:25em;width:40em;"/></div>
    </div>

    
