<div id="footer" class="footer" >
	<hr>
	<div class="row first">
		<ul class="section first">
			<li class="link"><%= link_to 'About Us',       admin_partners_stores_path, :class => "text"%></li>	
			<li class="link"><%= link_to 'Price Terms',       admin_partners_stores_path, :class => "text"%></li>
			<li class="link"><%= link_to 'Terms & Conditions',       admin_partners_stores_path, :class => "text"%></li>
			<li class="link"><%= link_to 'Stores',       admin_partners_stores_path, :class => "text"%></li>		
		</ul>
	</div>
</div>	



