 	<ul class="nav nav-list bs-docs-sidenav">
 		<% @categories.each do |c| %>
 			<li class="dropdown-submenu">
 				<% @temp_category = c %>				
 				<%= link_to c.name, category_path(c), :class => "dropdown-toggle", :data => { :toggle => "dropdown" } %>
 				<% if @temp_category.activeProducts.size > 0 %>
					<ul class="dropdown-menu"> 
					
 					<% @pre_menu = "some_defualt" %>
 					<% level = 0 %>
 					<% @temp_category.activeProducts.order("menu_parent  asc").each do |product| %>
 						<% if product.menu_parent != @pre_menu && level == 1 %>
 							</ul>
 								</li>
 							<% level = 0 %>
 						<% end %>
 						
 						<% if product.menu_parent != @pre_menu && product.menu_parent && product.menu_parent != "" && level == 0%>
 							<% level = 1 %>
							<li class="dropdown-submenu"> <%= link_to(product.menu_parent) %> 
								<ul class="dropdown-menu"> 
 						<% end %>
 						<li><%= link_to product.name,  category_product_path(@temp_category,product), :class => "product_submenu_final" %></li>
 						 						
 						<% @pre_menu = product.menu_parent %>
 					<% end %>
 					<% if level == 1 %>
 					    </ul>
 						   </li>
 					<% end %>
 					<li><%= link_to("Tools & Spares", category_path(c, :tools => true), :class => "product_submenu_final") %></li>	
 					
 					</ul>		
 				<% end %>		
 			</li> 							
 		<% end %> 		
	</ul> 

