<h1>New customer</h1>

<div class="formstyle">
<div style="width:945px;">
<b>Phone Number:</b>
<input id="mobileNumber" class="inputbox" type="text" value="" name="mobileNumber">
<p style="font-size:12px;">Note: Please provide a contact number so that we can contact you to serve you better.</p>
</div>
</div>
<div class="clear" style="height:15px; line-height:15px;"></div>

<%= render 'form' %>

<%= link_to 'Back', customers_path %>
