<div class="inprogress_page">
	<div class="visible-desktop visible-tablet">
		<%= image_tag("under-construction.jpg") %>
	</div>
	<div class="visible-phone">
		<%= image_tag("under-construction.jpg", :style => "height:200px;width:200px;") %>
	</div>
<div>
