<% if @order %>
	<div class="order-index">
	<%= render :template => 'orders/show' %>
	</div>
<% end %>



<div class="span1"></div>
<div class="order-cart center span10">
<h5 style='text-align:left'>History</h5>
<% if @past_orders.size > 0%>
<table class="table table-hover" >
  <thead>
    <tr>
   	  <th>Id</th>
      <th>Appointment date</th>
    </tr>
  </thead>

  <tbody>
    <% @past_orders.each do |order| %>
      <tr>
      	<td><%= link_to order.id,  order_path(order) %></td>
        <td><%= order.appointment_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<% end %>
<p>No Past Records Found</p>
</div>

