<div class="order-index">
<%= render :template => 'orders/show' %>
</div>

<table>
  <thead>
    <tr>
   	  <th>Id</th>
      <th>Appointment date</th>
    </tr>
  </thead>

  <tbody>
    <% @past_orders.each do |order| %>
      <tr>
      	<td><%= link_to order.id,  order_path(order) %></td>
        <td><%= order.appointment_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

