<div class="terms-page">
<h4>Terms And Conditions </h4>
<ol type="I">
 <li>The service request can be lodged 24×7 online and from 9AM to 7PM on calls. However very few services will operate on National Holidays.
 </li>
 
 <li>Order confirmation time and follow up calls will be done by call center through call/SMS.
 	 Time of service time will be communicated and confirmed before service order is confirmed. 
 	 Evertask shall not be responsible for any call booked directly by the customer with the serviceman,
 	  as in such cases Evertask has no control.
 </li>
 
 <li>Customer can consult for EverTask for a quote for any work. Our serviceman will visit your place and 
 	evaluate your requirement and quote a price. For each consultancy, customer has to pay a minimum visiting 
 	charge1 that can be adjusted in work order for the above consultancy. 
 </li>
 
 <li>Service Terms
 	<ol type="a">
 		<li>Prices mentioned on website are nominal prices. The final price would vary with the complexity and 
 			circumstances of the work. Customers should confirm the price with our servicemen before starting of 
 			actual work. No negotiation is possible afterwards. 
 		</li>
 		<li>Servicemen sent by EverTask are independent professionals, and EverTask takes no responsibility 
 			for money paid to them without company’s knowledge. 
 		</li>	
 		<li>When a serviceman services an order for customer, Customer has to be paid minimum visiting charge 
 			even though task is very small.
 		</li>
 	</ol>  
 </li>
 
<li>Products Purchased Terms
	<ol type="a">
 		<li>Customer can buy and bring items to get installed for repair and maintenance. If customer asks 
 			items to be bought by our servicemen then the items cannot be returned once brought. Before bringing
 			 any item our servicemen will give a tentative price. 
 		</li>
 		<li>Evertask, through the Website also makes available of variety of branded products and merchandise 
 			at an agreed price to you. Purchase of such products will be subject to the Terms of Offer For Sale 
 			and such other additional terms, if any, as specified by the Vendor.
 		</li>	
 		<li>All the Products are governed by the terms of warranties provided by the respective manufacturer/brands. 
 			However, in case any product is covered under seller warranty, it shall be specifically mentioned under 
 			the product details.
 		</li>
 		<li>
 			Products that are purchased outside by our servicemen or customer would not come under service warranty 
 			promised by Evertask. For the products that have special warrant, it is mandatory for customer to 
 			maintain purchase bill/warranty card. Though Evertask would try to help, Evertask is not responsible 
 			for issues with product seller. 
 		</li>
 	</ol>
 </li>
 
 <li>Cancellations & Returns
 	<ol type="a">
 		<li>Yet to Fill
 		</li>
 	</ol>
 </li>
 
 <li>
 	If customer does not pay the visiting charges, Evertask holds right to take legal action against the customer 
 	in that case and also blacklist the said customer for providing any further services in the future.
 </li>
 
 <li>
 	Amount paid by the customer will be recorded and invoice/bill will be provided for the same. The invoice/bill 
 	may carry the Evertask logo depicting that the serviceman is an Evertask affiliate. Customer should verify 
 	the details mentioned in it. Our customer care will call the customers after they avail our services. 
 	Customer should give the genuine rating to our servicemen after the work is done to make us provide 
 	good services. 
 </li>
 
 <li>
 	The customer has to take warranty / Guarantee slip before leaving the employee from customer`s place, the company 
 	will not responsible for any defect without warranty/ guarantee.
 </li>

 <li>Service Warranty:
 	<ol type="a">
 		<li>
 			Service warranty covers only the works that are paid. Evertask can not take responsibility 
 			for service that is damaged due to improper usage.  
 		</li>
 		<li>
 			Customer has to pay just Order Fulfillment Cost2.
 		</li>
 		<li>
 			In case a record is not found in the system then Evertask will not be liable for warranty. 
 			The decision of Evertask will be considered as final.
 		</li>
 		<li>
 			The customer has to check repaired/ fixed item before leaving the employee from customer`s 
 			place; beyond that raised derrieres will not be accepted.
 		</li>
 		<li>
 			Hello customers for readdresses of their complaints dial or for any queries about our products 
 			or service with in three days from date of work done,no claim can be made beyond this time limit. 
 		</li>
 	</ol>	
 </li>

 <li>
 	If are servicemen reaches your home and they find the house is locked, or customer cancels the call, 
 	then customer has to lodge a new service request. 
 </li>
 
 <li>
 	Evertask holds the right to cancel any call at any time due to any external/internal reasons. 
 </li>
 
 <li>
 	The company is authorized to admit or reject any registration of customer, the company is reserves
 	its right to change the rules and regulations.
 </li>

 <li>
 	Some servicemen are employed with Evertask; some are the third party men. For third party servicemen,
 	 Evertask does not take any kind of responsibility.
 </li>
 
 <li>
 	The technicians are required to behave professionally and properly with customers. In case violations 
 	of the same are observed, the customer is requested to lodge a complaint against the technician at 
 	customer care center.
 </li>
 
 <li>
 	All the legal matters are subject to the jurisdiction of Hyderabad courts only
 </li>
 
 <li>
 	The complaints against the employees of the company is to be brought to the company in writing in 
 	discharging of their duties, beyond that company will not be responsible.
 </li>
 
 <li>
 	In case of any criminal act committed by the servicemen while providing the services, customer on its  own will can take direct action under the law of country. Customer should also inform Evertask with full details. 
 </li>

 	
 <li>
 	In case of any action taken by the customer against the technician in pursuant to point above, the 
 	customer is informed that he/she cannot make Evertask a party to such offence, as a person is individually 
 	and severally liable for any criminal act committed by him/her. 
 </li>
</ol>  


<div style="font-size: 0.75em"><i>
Minimum Visiting Charge<sup>1</sup> – Minimum Work Charge (say Rs. 100) + Order Fulfillment Cost<sup>2</sup><br>
Order Fulfillment Cost<sup>2</sup> – Worker Transportation + Backend Maintenance (say Rs. 60) 
</i>
</div>
  
 </div>
