<div class="price-terms-page">
	<p>Our charges depends upon type of work and quantity. The actual price will be quoted ONLY after inspection. However, we try to maintain the prices that are mentioned in our site. Please fix the rate before work is started. 
	</p>
	
	<p>Our minimum charge for any order is Rs. 160 out of which Rs. 60 for order maintenance and Rs. 100 will be adjusted in the bill. 
	<ul>
		<li>Scenario 1: Work charge is Rs. 80, Evertask charges you Rs. 160
		</li>
		<li>Scenario 2: If Serviceman is called for inspection and he is asked to come later for work. Service man would charge Rs. 160 and will be adjusted in final order bill. 
		</li>
	</ul>
	</p>
	
	<p>If you want to fix yourself, necessary tools and information is available on Evertask website.  The prices for thesre tools/products are fixed (delivery charges extra). However, If product unavailable, we will communicate you / cancel the order.  
	</p>
</div>
