.container .row-fluid
{
	border-radius: 8px 8px 8px 8px;
	box-shadow: 1px 1px 5px #b2b2b2;
    -webkit-box-shadow: 1px 1px 5px #b2b2b2;
     margin: 0.25px 1% 1em 1%;
     max-width: 98%;
     min-height: 100%;   
     z-index: 101;	
     padding-bottom:60;
} 

@media (max-width: 767px) {
  .container .row-fluid
  {
    margin-left:2px;
    margin-right:0;
    max-width:96%;
  }
}  

.breadcrumbs
{
	margin-left:3.5em;
	margin-top:1em;
	margin-right:3.5em;
}


@media (max-width: 767px) {
  .breadcrumbs
  {
    margin-left:0;
    margin-right:0;
  }
}

#main
{
	overflow:auto;
	padding:10px 0 60px 0; 
	width: 93%;
	height:100%;
}

@media (max-width: 767px) {
  #main
  {
    min-width:100%;
  }
}

html body{
	background: url("/assets/gray-backgrond.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
	font-family: "Open Sans";
}


.welcome-page
{
	 margin-left:0;
	 margin-right:0;
	 width:100%;
}

.welcome-page .first-split
{
	padding:0;
	margin-left:0;
	margin-right:0;
	width:100%;
	background-color: #27292B;
	margin-top:0.25em;
	min-height: 250px;
	width:100%;	
}

.welcome-page .first-split .content-block .first-block
{
	min-height: 175px;	
}

.welcome-page .first-split .tick-logo img
{
	margin-top:-5px;
	margin-left:1.5em;
}

.welcome-page .first-split .warranty-message
{
	margin-top:3em;
	margin-bottom:1em;
}

.welcome-page .first-split .logo-images
{
	margin-top:1em;
	margin-bottom:1em;
}


.welcome-page .first-split .logo-images img
{
	width: 70px;
	height:70px;
}

@media (max-width: 512px) {
	.welcome-page .first-split .logo-images img
	{
		width: 35px;
		height:35px;
	}
	
	.welcome-page .first-split .warranty-message h5
	{
		font-size: 12px;
	}	
}

.welcome-page .first-split .warranty-message
{
	text-align:center;
}

.welcome-page .first-split .warranty-message .color1
{
	color: #088A29;
}

.welcome-page .first-split .warranty-message span.color2
{
	color: #FFFFFF;
}


.welcome-page .first-split .message-block p
{
	color: #F2F2F2;	
	margin-left:2em;
}
.welcome-page .first-split .message-block h2,
.welcome-page .first-split .message-block h3,
.welcome-page .first-split h5
{
	color: #F2F2F2;	
	margin-top: 0.5em;
	text-align:center;
}

.welcome-page .first-split .down-block
{
	margin-bottom:1em;
}

.welcome-page .second-split
{
	background-color: #FFFFFF;
	min-height: 250px;	
	padding-bottom:44px;
	width:100%;		
}

@media (min-width: 1028px) {
	.welcome-page .second-split .message-box{
		margin-left: 3.5em;
		margin-right:3.5em;		
	}
}

@media (min-width: 512px) {
	.welcome-page .second-split .message-box{
		margin-top:2.5em;
		margin-bottom: 2.5em;
	}
}
.welcome-page .second-split .message-box
{
	min-height: 250px;
	background: url("/assets/task-background.jpg") no-repeat scroll left center rgba(0, 0, 0, 0);
	border: 1px solid #DADADA;
	
}

.welcome-page .second-split .message-box .thumbs-up-logo img
{
	margin:50px 10px 80px 10px;
	width:120px;
	height:120px;
}
.welcome-page .second-split .message-box .value-message
{
	margin-top:1em;
	color:#2284A1;
	margin-bottom: 1em;
	padding-left:2em;
}

.flash_messages {
  margin-top: 1em;
}

.alert-box {
    background-color: #2BA6CB;
    border-color: #2284A1;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    display: block;
    font-size: 0.875em;
    font-weight: bold;
    margin-left: 3.5em;
    margin-right:3.5em;
    margin-bottom:1em;
    padding: 0.6875em 1.3125em 0.75em 0.6875em;
}


.welcome-page .request-form
{
	align:right;
	padding:1em;
	
}

.welcome-page .request-form select
{
	width:100%;
	margin-bottom:0.25em;
	max-width:100%;
	padding-left:0;
	padding-right:0;
}

.welcome-page .request-form textarea,
.welcome-page .request-form input
{
	margin-bottom:0.25em;
	max-width:100%;
}

.welcome-page .request-form input#mobile
{
	width:100%;
	padding-left:0;
	padding-right:0;
}

.welcome-page .request-form input.btn
{
	width:100%;
	font-size:1.2em;
	height:2em;
	padding:0;
}

.inprogress_page
{
	margin: 3em 0 3em 25%;
}

