.footer {
    background: none repeat scroll 0 0 #E3E6E7;;
    clear: both;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
	font-family: "Helvetica,​sans-serif";
}

.row:before, .row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}
.row:before, .row:after {
    content: "";
    display: table;
}
.footer .row {
    margin: 0 auto;
    width: 1128px;
  }
}

.footer .row .section:first-child {
    margin-left: 0;
    margin-bottom: 0;
    ul, ol {
    margin-bottom: 0px;
    padding: 0;
	}
}
.footer .row .section {
    border-right: 1px solid #B5B5B5;
    display: inline-block;
    margin-left: 12px;
    margin-bottom: 0;
    padding: 12px 0 15px;
}

.footer .row.first .section .link:first-child .text {
    margin-left: 0;
}
.footer .row.first .section .link .text {
    margin-right: 19px;
}

.footer .row.first .section .link {
    display: inline;
}

.footer .row .section .link .text {
    color: #545454;
    font-size: 14px;
    font-weight: lighter;
}

ul li {
    list-style-type: none;
}
.footer hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #B5B5B5 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin: 0;
}