html body div#wrap div.navbar
{
  margin-left: 3em;
  margin-right: 3em;
  font-family: "Open Sans";
  color: #FFFFFF;
  margin-top:1em; 
  margin-bottom:0;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 1px 1px 1px #b2b2b2;
  -webkit-box-shadow: 1px 1px 1px #b2b2b2;
}


html body div#wrap div.navbar div.navbar-inner div.container,
html body div#wrap div.navbar div.navbar-inner,
html body div#wrap div.navbar 
{
	background-color: #FAFAFA;
		
}

html body div#wrapr div.container .inline
{
  padding-left: 2.5em;
  padding-right:2.5em;
}

html body div#wrap div.navbar div.navbar-inner div.container a.brand
{
	margin-left:1em;
	margin-top:5px;
}

html body div#wrap div.navbar div.navbar-inner
{
	padding-left: 0;
	padding-right: 0;
	border-right: 0;
	border-left: 0;
	font-family: "Open Sans";
}

html body div#wrap div.navbar div.navbar-inner div.container div.nav-collapse .nav
{
	padding-top: 0;
	margin-right:1em;
}

html body div#wrap div.navbar div.navbar-inner div.container div.nav-collapse ul.nav li a,
html body div#wrap div.navbar div.navbar-inner div.container div.nav-collapse ul.nav li.divider-vertical,
html body div#wrap div.navbar div.navbar-inner div.container div.nav-collapse ul.nav li#fat-menu.dropdown a.dropdown-toggle
{
	margin-top:5px;
	margin-left: 5px;
	margin-right: 5px;
}
  
html body div#wrap div.navbar div.navbar-inner div.container div.nav-collapse ul.nav li a#addcart
{
  background: url("/assets/cart.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}

html body div#wrap div.navbar div.navbar-inner div.container div.nav-collapse ul.nav li form#index.navbar-search div.input-prepend input.btn
{
  margin-top:1px;
  border-radius: 0 5px 5px 0;
  margin-left: 0;
}

html body div#wrap div.navbar div.navbar-inner div.container div.nav-collapse ul.nav li form#index.navbar-search div.input-prepend div.btn-group button.btn
{
	border-radius: 5px 0 0 5px;
}

html body div#wrap div.navbar div.navbar-inner div.container div.nav-collapse div.search-bar
{
    margin-left: 25%;
}
html body div#wrap div.navbar div.navbar-inner div.container div.nav-collapse ul.nav li form#index.navbar-search
{
	margin-top:auto;
	margin-bottom:auto;
	padding-top:10px;
  
}


html body div#wrap div.navbar div.navbar-inner div.container div.nav-collapse ul.nav li form#index.navbar-search div.input-prepend .btn-group 
{
	margin-top:auto;
	margin-bottom: auto;
}

html body div#wrap div.navbar div.navbar-inner div.container img
{
  position: absolute;
  margin-left:2.5em;
  width: 10em;
  margin-top:7px;
}





