.container div.bs-docs-sidebar  div.row-fluid div.control-group 
{
		margin-left: 10%;
}

.login-page .text-box input,
.login-page .btn
{
	width: 65%;
	height: 2em;
	font-size: 1.25em;	
	margin-right: 17.5%;
	margin-left: 17.5%;	
	margin-top: 2%;	
	margin-bottom: 2%;	
}

@media (max-width: 769px) {
	.login-page .text-box input,
	.login-page .btn
	{
		width: 80%;
		margin-right: 8%;
		margin-left: 8%;
		
	}
}


.login-page  label.checkbox
{
	margin-right: 17.5%;
	margin-left: 17.5%;	
	margin-bottom: 4%;
	text-align: left;
	width: 50%;
}

.center
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.center-vertical
{
	margin-top: auto;
	margin-bottom: auto;
	vertical-align:middle
}

.center-text
{
	text-align: center;
	margin-top:0;
	margin-bottom:1em;
	font-size: 1.25em;	
}

.center-box
{
         width: 70%;
         margin-left:12.5%;
}

.login-new
{
	padding-bottom: 4em; 
}

.password-reset-page  input.submit-input
{
	height: 2em;
	margin-bottom:0.5em;
	margin-left:0.5em;
	width: 100%;
}

.password-reset-page input#email.email-input, 
.password-reset-page  input#mobile.mobile-input
{
	height: 2em;
	margin-bottom:0.5em;
	width: 100%;
}

.password-reset-page .form-horizontal
{
	margin-left:25%;
}

@media (max-width: 769px) {
	.password-reset-page  input.submit-input,
	.password-reset-page input#email.email-input, 
	.password-reset-page  input#mobile.mobile-input
	{
		max-width:90%;
	}
	.password-reset-page .form-horizontal
	{
		margin-left:0;
	}
	
}





