// Place all the styles related to the password_resets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

check out 

html body div#wrap div#main.container div.center
{
  margin-top:0;
  margin-bottom:1em;
  margin-left:1em;
}



// Product

html body div#wrap div#main.container div.row-fluid div.products-list ul.thumbnails li.span3 div.product-info,
html body div.body-area div.container div.row-fluid ul.thumbnails li div.product-info
{
  padding-top: 5px;
}



// product size buttons 

html body div#wrap div#main.container div.row-fluid div.span10 ul.thumbnails li div.product-info ul.size-buttons
{
  margin-right: 5px;
  margin-left:5px;
  margin-top:0;
  margin-bottom:0;
  font-size:0.8em;
}


html body div#wrap div#main.container div.row-fluid div.span10 ul.thumbnails li div.product-info ul.size-buttons li p
{
  margin:0;
  padding:0;
}

html body div#wrap div#main.container div.row-fluid div.product-show div.container div.span5 ul.size-buttons li p
{
  margin-left:0;
  margin-right:0;
  margin-bottom:0;
  padding-top: 5px;
}

html body div#wrap div#main.container div.row-fluid div.product-show div.container div.span5 ul.size-buttons li,
html body div#wrap div#main.container div.row-fluid div.span10 ul.thumbnails li div.product-info ul.size-buttons li
{
  display: inline-block;
  border-radius: 2px 2px 2px 2px;
  border: 1px solid #B2B2B2;
  margin-right: 2px;
  margin-left:2px;
  margin-top:3px;
  margin-bottom:3px;
  padding-left:2px;
  padding-right:2px;
  text-align: center; 
}

html body div#wrap div#main.container div.row-fluid div.product-show div.container div.span5 ul.size-buttons li:hover,
html body div#wrap div#main.container div.row-fluid div.span10 ul.thumbnails li div.product-info ul.size-buttons li:hover {
  border-color: #000000;
  color: #000000;
  p
  {
    font-weight:bold;
  }
}

html body div#wrap div#main.container div.row-fluid div.product-show div.container div.span5 ul.size-buttons li.selected,
html body div#wrap div#main.container div.row-fluid div.span10 ul.thumbnails li div.product-info ul.size-buttons li.selected {
    background: none repeat scroll 0 0 #000000;
    border-color: #000000;
    color: #FFFFFF !important;
}

html body div#wrap div#main.container div.row-fluid div.product-show div.container div.span5 ul.size-buttons li,
html body div#wrap div#main.container div.row-fluid div.product-show div.container div.span5 ul.size-buttons li:hover,
html body div#wrap div#main.container div.row-fluid div.product-show div.container div.span5 ul.size-buttons li.selected
{
  padding-left: 5px;
  padding-right:5px;
  padding-top: 5px;
  padding-bottom:5px;
  border-radius: 3px 3px 3px 3px;
  min-width: 12.5%;
}

html body div#wrap div#main.container .row-fluid .product-show .container div.span7 .size-buttons li hr.dotted,
html body div#wrap div#main.container div.row-fluid div.span10 ul.thumbnails li div.product-info ul.size-buttons li hr.dotted
{
  border: 1px dotted #ff0000; 
  border-style: none none dotted; 
  color: #fff; 
  background-color: #fff; 
  margin-top:0;
  margin-bottom:0;
}

// product side bar 

.product-show  .span4 .product-sidebar
{
  margin:0;
}

.product-show  .span4 .product-sidebar .product-sidebar-each
{
  background-color: #EDF8FC;
  margin-left:1em;
  margin-right:1em;
  margin-top: 5px;
  margin-bottom:5px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #B2B2B2;
  box-shadow: 1px 1px 5px #b2b2b2;
  -webkit-box-shadow: 1px 1px 5px #b2b2b2;
  max-height:8em;
  padding:3px;
  padding-top:0;
}
.product-show  div.span4 ul.product-sidebar li.product-sidebar-each ul.product-sidebar-each-split li.center-vertical p,
.product-show  .span4 .product-sidebar .product-sidebar-each .product-sidebar-each-split
{
  margin:0;
  padding:0;
}

.product-show  .span4 .product-sidebar .product-sidebar-each .product-sidebar-each-split li
{
  display: inline-block;
  margin-top:auto;
  margin-bottom:auto;
}

.product-show  .span4 .product-sidebar .product-sidebar-each .product-sidebar-each-split li img
{
  height: 6em;
  width: 6em;
  margin:1em;
}


// check out 

html body div#wrap div#main.container div.center table.table thead tr
{
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

