

p.pricehilit{
  color:#ffe209;
  font-size:1.8em;
}

p.mrp{
text-decoration:line-through;
font-size:1.4em;
color:#ffff80;
}

p.name{
font-family:Open Sans;
text-align: center;
color:#0fa0ff;
font-size: 1.8em;
}

div.centerform{
width: 50%; 
margin: 0 auto;
}

.thumbnail:hover {
  -webkit-box-shadow: 1px 1px 5px #b2b2b2; 
  box-shadow: 1px 1px 5px #b2b2b2;
}