@media (max-width: 767px) {
  .product-list-page,
  .product-show,
  .alert-box
  {
    margin-left:0;
    margin-right:0;
    min-width:99%;
  } 
}
.product-list-page div.products-list
{
  margin:0;
  padding: 0.75em;
  border-radius: 0 8px 8px 0;
}

.product-list-page li.product-each
{
  font-family: "Open Sans";
  margin: 1% 1.5% 1% 0;
  position: relative;
  padding: 1% 1% 0 1% ;
  border:5px solid #DDDDDD;
  div.product-info
  {
    visibility: hidden;
    display: none;
  }    
}

.product-list-page li.product-each:hover
{
    background-color: #CEECF5;    
    z-index: 101;
    border-radius: 4px 4px 0 0;
    border: 5px solid #CEECF5;
    .product-info
    { 
      background-color: #CEECF5;
      display: block;      
      visibility: visible;
      left: 0;
      margin-top:0.1em;
      position: absolute;
      border: 1px solid #DDDDDD;
      border-radius: 0 0 4px 4px;
      z-index: 200;
      max-width: 100%;
      padding-top: 5px;
    }
}

.product-list-page .product-image
{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  margin-top: 5%;
  height: 10em;
  max-width: 80%;
}

@media (max-width: 979px) {
  .product-list-page .product-image
  {
    height: 6em;
  }
}

.product-list-page .product-each .caption p.name
{
  text-align: center;
  font-size:1.1em;
  margin:0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-list-page .product-each .caption p.pricehilit
{
  text-align:right;
  font-size:1em; 
  margin:0;
}

p.mrp{
text-decoration:line-through;
font-size:1em;
}


.product-list-page .product-info
{
  width:100%;
}
.product-list-page .product-info .product-quantity,
.product-list-page .product-info .product-size select,
.product-list-page .product-info .product-size b
{
  width: 90%;
  margin-left: 5%;
  margin-right:5%;
}

.product-list-page .product-info form
{
  margin-top: 5px;
  margin-bottom: 5px;
}

.product-list-page .product-info input#addcart.btn
{
  width: 100%;
  margin:0;
  padding-left:3%;
  padding-right:3%;
}


//Cart Item css

#myModal
{
  font-family: "Open Sans";
} 

#myModal #modal-body
{
  background-color: #FFFFFF;
}

#myModal .modal-header
{
  background-color: #E3E6E7;
  border-radius: 8px 8px 0 0;
}

#myModal .modal-footer
{
  background-color: #E3E6E7;
  border-radius: 0 0 8px 8px;
}

table.cart-items-list-popup
{
  background-color: #E0F2F7;
  box-shadow: 1px 1px 5px #b2b2b2;
  -webkit-box-shadow: 1px 1px 5px #b2b2b2;
  margin-bottom:0;
}

.cart-items-list-popup thead tr th,
.cart-items-list-popup tbody tr td
{
  text-align:center;
  vertical-align:center;
}

.cart-items-list-popup .edit_cart_item
{
  margin-bottom: 0; 
}

.cart-items-list-popup .edit_cart_item .cart-items-quanitity
{
  margin-bottom: 0;
  padding-left:0;
  padding-right:0;
  width:100%;
}

// Product Show

.product-show div.product-show-inner
{
  margin: 1em 2em;  
  padding:0;
}

.product-show .product-info
{
  margin-bottom:2em;
}

.product-show .product-image
{
  padding:1em;
}

.product-show .product-info .product-image img
{
  width:100%;
  height:294px;
}

@media (max-width: 420px) {
  .product-show .product-info .product-image img
  {  
    height:50%;
  }
}
.product-show div.product-details
{
  min-height: 326px;
  margin-left:0;
}

.product-show .product-details h3
{
  margin-top:2em;
}

.product-show .product-details table
{
  margin-top:2em;
  margin-left:0;
}

.product-show .product-details table tr
{
  vertical-align:center;
}

.product-show .product-details table tr td
{
  vertical-align:center;
  padding-top: 1em;
  padding-bottom:1em; 
}

.product-show .product-details table  tr td p
{
  margin:0; 
}
.product-show .product-details  #productaddcart
{
  width:100%;
}

.product-show div.product-tools-bar
{
  border: 1px solid #B2B2B2;
  border-radius: 2px 2px 2px 2px;
  margin:0;
}

.product-show .product-tools
{
  margin:0;
}

.product-show li.product-tools-each
{
  display: inline-block;
  margin: 0.5em;
  border: 1px solid #B2B2B2;
  border-radius: 2px 2px 2px 2px;
}

.product-show .product-details table tr td
{
  max-width:50%;
}
.product-show .product-details .product-details-quantity
{
  width:48%;
  padding-left:0;
  padding-right:0;
}

.product-show  h5
{
  margin-left:1em;
}

@media (max-width: 769px) {
  
  .product-show li.product-tools-each
  {
    margin:0;
  }
  
  .product-show  h5
  {
    margin-left:0;
  }
  .product-show .product-details .product-details-quantity
  {
    width:100%;
    padding-left:0;
    padding-right:0;
  }
}

@media (max-width: 420px) {
 
  .product-show .product-details #cart_item_product_id,
  .product-show .product-details .product-details-quantity
  {
    width:100%;
  }
 
}

.product-show ul.product-tools-each-split
{
  margin:5px;  
}

.product-show .product-tools-each a li
{
  width:100%;
}

.product-show .product-tools-each img
{
  margin-left:5%;
  margin-right:5%;
  width:90%;
}

.product-show .product-tools-each .product-info
{
  width:100%;
  margin: 0.5em 0 0.5em 0;
  max-height: 6em;
  font-size:1em;
  padding:0;
}

.product-show .product-tools-each .product-info p
{
  margin-bottom:0.5em;
}

.product-show .product-tools-each .product-show-quantity
{
  margin:0 0 0.5em 0;
  width:100%;
}

.product-show .product-tools-each form .product-quanity-input
{
  font-size:1em;
  padding-left:0;
  padding-right:0;
  width:45%;
}

.product-show .product-video
{
  width:500px;
  height:375px;
}

@media (max-width: 600px) {
  .product-show .product-video
  {
    width:220px;
    height:165px;
  }
}

@media (max-width: 350px) {
  .product-show .product-video
  {
    width:150px;
    height:100px;
  }
}

.product-list-page div.request-form
{
  background-color: #CEECF5;
  border-radius: 8px 8px 8px 8px;
  margin:2em 0.5em 2em 0;
  padding:0.5em  0.5em 2em 0.5em;
}

.product-list-page .request-form div.request-title
{
  margin: 0.5em 0.5em 1.5em 0.5em;
}

.product-list-page .request-form form input,
.product-list-page .request-form form textarea
{
  width: 100%;
}

.product-list-page .request-form textarea#request
{
  min-height: 7em;
}
