html body div#wrap div#main.container div.login-new div form#new_customer_management.form-horizontal div.control-group
{
  margin-bottom:0;
}

html body div#wrap .container .login-new .form-horizontal .control-group .center .text-Box,
html body div#wrap .container .login-new .form-horizontal .control-group .center input,
html body div#wrap div#main.container div.login-new div.control-group div.center form.button_to div input.btn
{
  min-width: 100%;
  max-width:100%;
  height: 2em;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  padding:0;
}

html body div#wrap .container .login-new .form-horizontal .control-group .center .text-Box,
html body div#wrap div#main.container div.login-new div form#new_customer_management.form-horizontal div.control-group div.center input.btn
{
  padding-left:1em;
}

html body div#wrap .container .login-new .form-horizontal .control-group .center input.btn
{
  margin-left:0.5em;
}

html body div#wrap div#main.container div.login-new div form#new_customer_management.form-horizontal div.control-group div.center
{
  min-width: 100%;
  margin:0;
}



