// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html body div.body-area div.container div.welcome-page div.row-fluid div.span12 img
{
  width: 100%;
  height: 300px; 
}

html body div.body-area div.container
{
  margin-top: 0;
}

.welcome-page
{
  margin-top: 1em;
}
