
 	<div class="dna-message">
 		<h4 class="visible-tablet visible-desktop center">ALL YOUR REPAIR WORKS DONE WITHOUT STEPPING OUT OF YOUR HOME</h4>    		  	
    		  
 		<h5 class="visible-phone center">ALL YOUR REPAIR WORK DONE WITHOUT STEPPING OUT!!</h5>	
		
 	</div>
			
 	<div class="first-split container-fluid">
 	  <div class="border-line  span12">
		<div class="visible-phone center">
			<div class="how_it_works">
    			<h5 class="call-now-message center">Book Now with a single Call</h5>
    			<div class="call-now center">
    				<h4 class="cell-number"><%= link_to contact_number, "tel:"+contact_number %></h4>
    			</div>
    		</div>
      	</div>
      	
		<div class="first-split-submenu span3">
 			<% if @categories.size > 0 %>
 				<div class="bs-docs-sidebar">
 					<%= render :partial => 'shared/items_sidebar' %>
    			</div>   	
    		<% end %> 	
    	</div>
      	
    	<div class="content-block visible-tablet visible-desktop span9">   		
    		<div class="bs-docs span9">
              <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" data-interval="20" class="active"></li>
                  <li data-target="#myCarousel" data-interval="20" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-interval="20" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="assets/carousel/sma.png" alt="">
                    <div class="carousel-caption">
                      <p>Quality repair of smartphones and mobile phones</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="assets/carousel/lap.png" alt="">
                    <div class="carousel-caption">
                      <p>Professional Laptop and Computer Repair Services.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="assets/carousel/tab.png" alt="">
                    <div class="carousel-caption">
                      <p>Trusted partner in tablet repairs</p>
                    </div>
                  </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
              </div>
            </div>
    	</div> 
      </div>  	
 	</div>
 	
 	<div class="second-split container span12">
 		<div class="message-box">
 			<div class="span2 visible-desktop  visible-tablet"></div>
 			<div class="value-message visible-desktop  visible-tablet span3">
 				<div class="value-message-text">
 					<h3>Our Guarantee</h3>
 					<ul style="list-style-type:disc;">
 					<li>On Time Service</li> 
 					<li>Reliable work force</li>
 					<li>Reasonable Prices</li>
 					</ul>
 				</div>
 				
 			</div> 
 			<div class="span2 visible-desktop  visible-tablet" style="min-height:8em;"></div>
 			<div class="request-block">
 					<h5 class="center span5">Request a Callback</h5>
    				<%= render 'order_requests/welcome_page' %>
    		</div>			
 		</div>
	</div>
 	
 	
    

